/* .row{
  align-items: center;
  justify-content: space-around;
}
.row>*{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
}

@media (min-width: 768px){
  .container, .container-md, .container-sm {
    max-width: 944px !important;
}
} */
